:host ::ng-deep {
  .p-togglebutton.p-button.p-highlight {
    background: var(--light-purple);
    border-color: var(--dark-purple);
    color: #ffffff;
  }

  .p-button:focus {
    box-shadow: none;
  }

  ol,
  ul {
    padding-left: 0rem !important;
  }

  .p-dropdown{
    width: 248px;
    height: 48px;
  }

  input{
    width: 248px;
    height: 48px;
  }
}


/*
  style for likes
*/
.Btn {
  width: 210px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
  cursor: pointer;
  background-color: transparent;
  border-radius: 20px;
}

.leftContainer {
  width: 70%;
  height: 100%;
  background-color: rgb(238, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.leftContainer .like {
  color: white;
  font-weight: 600;
}

.likeCount {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(238, 0, 0);
  font-weight: 600;
  position: relative;
  background-color: white;
}

.likeCount::before {
  height: 8px;
  width: 8px;
  position: absolute;
  content: "";
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  left: -4px;
}

.Btn:hover .leftContainer {
  background-color: rgb(219, 0, 0);
}

.Btn:active .leftContainer {
  background-color: rgb(201, 0, 0);
}

/*
  styles from uiverse.com
*/

.content {
  height: 100%;
  background-image: url('../../assets/backgrounds/fireplace4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  height: calc(100% - 80px);
  color: var(--text);
}

.searchBar {
  background-color: rgba(32, 32, 32, 0.616);
  color: #ffffff;
  border-bottom: 1px solid black;
  height: 80px;
  width: 100vw;
  box-shadow: inset 20px 20px 60px #141414,
    inset -20px -20px 60px #454545;
}

.list {
  background-color: #0000009c;
  max-width: 700px;
  height: 80%;
  max-height: 1000px !important;
  margin: 0px auto;
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}

.userElement {
  width: 100%;
  min-height: 60px;
  // background-color: rgb(30, 29, 29);
  border-radius: 8px;
  border-radius: 8px;
  background: linear-gradient(145deg, #000000, #2323233f);
  box-shadow: 12px 12px 24px #1c1c1c,
    -12px -12px 24px #262626;
}

.profileImage {
  height: 80px;
  border: var(--text) 1px solid;
}

.img{
  height: 250px;
  aspect-ratio: 1/1 !important;
  border: var(--text) 1px solid;
}

.searchBy {
  z-index: 2;
  border-radius: 0px 0px;
  background: #212121;
  box-shadow: 20px 20px 60px #1c1c1c,
    -20px -20px 60px #262626;
}

.elementImage{
  background-color: #1414149c;
  padding: 10px 20px;
  border-radius: 10px;
}