<div class="searchBar d-flex justify-content-center align-items-center">
  <span class="p-input-icon-left d-flex gap-3">
    <i class="pi pi-search"></i>
    <input type="text" class="p-inputtext-sm" pInputText [(ngModel)]="value" />
    <button class="btn btn-danger" (click)="searchUser()">Serach</button>
  </span>
</div>
<main class="d-flex justify-content-center align-items-center" style="height: 80%;">
  <div class="list">
    @for (item of usersList; track item) {
      <div class="d-flex justify-content-start align-items-center mt-2 userElement">
        <img [src]="item.photoString">
        <h1>{{item.name}}</h1>
      </div>
    }
  </div>
</main>