<div class="content">
    <div class="page scroll">
        <div class="row justify-content-between h-100">
            <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                <div >
                    <div style=" text-align: center;">
                        @if(userInfo.profilePhoto !== ""){
                            <div class="rounded-circle">
                                <img 
                                    class="rounded-circle img" 
                                    style="object-fit: cover;" 
                                    [src]="'data:image/png;base64,'+userInfo.profilePhoto">
                            </div>
                        }@else {
                            <div class="rounded-circle">
                                <img 
                                    class="rounded-circle img" 
                                    style="object-fit: cover;" 
                                    src="../../../assets/profile.png">
                            </div>
                        }
                        <h1 class="mt-2">{{userInfo.uername}}</h1>
                    </div>
                    <div class="d-flex justify-content-center gap-3 align-items-center">
                        <div>
                            <h2 style="color:var(--light-green)">
                                Followers:{{userInfo.followersCount}}
                            </h2>
                        </div>
                        <div>
                            <h2 style="color:var(--light-green)">
                                Following:{{userInfo.followingCount}}
                            </h2>
                        </div>
                    </div>
                    <div class="info scroll">
                        <h5>{{userInfo.info}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                <div class="d-flex flex-wrap">
                    @if (true) {
                        <div class="addImageBtn d-flex justify-content-center align-items-center"
                        [routerLink]="['/add-photo']" >
                        <h2>Add photo</h2>
                    </div>
                } @else {
                        @for (item of userInfo.photos; track $index) {
                            <div class="item">
                                <img [src]="'data:image/png;base64,'+item">
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="rounded-circle">
                <img 
                    class="rounded-circle img" 
                    style="object-fit: cover;" 
                    src="../../../assets/profile.png">
            </div>
        </div>
        <div class="row">
            <div class="rounded-circle">
                <img 
                    class="rounded-circle img" 
                    style="object-fit: cover;" 
                    src="../../../assets/profile.png">
            </div>
        </div> -->
    </div>
</div>