.img{
    max-width: 25rem;
    border: 3px solid var(--text);
}
.content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/backgrounds/fireplace2.jpg');
    background-position: center;
    background-size: cover;
}
.page{
    background-color: #212121d4;
    border: 2px solid var(--dark-purple);
    border-radius: 20px;
    box-shadow: 5px 5px 112px 14px black;
    min-width: 70%;
    height: 90%;
    color: var(--text);
}

.info{
    background-color: #21212196;
    padding: 10px 20px;
    border: solid 1px var(--dark-purple);
    border-radius: 20px;
    box-shadow: inset 3px 3px 8px 4px black;
    max-height: 170px;
}
.addImageBtn{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.502);
    transition: 1s;
}
.addImageBtn:hover{
    width: 210px;
    height: 210px;
    border-radius: 330px;
    background-color: var(--light-purple);
}
.item{
    width: 50px;
}
@media only screen and (max-width: 900px) {
    .img{
        max-width: 15rem;
    }
  }
// .imgInput{
//     width: 230px;
//     height: 230px;
//     border: 3px solid var(--text);
//     border-radius: 20px;
// }