span{
    background-color: #131313;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 15px;
}
span:hover{
    background-color: #13131350;
    border: 2px solid var(--text);
    color:  var(--text);
}
.img{
    width: 15rem;
    border: 3px solid var(--text);
    object-fit: cover;
}
.content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/backgrounds/fireplace2.jpg');
    background-position: center;
    background-size: cover;
}
.page{
    background-color: #212121d4;
    border: 2px solid var(--dark-purple);
    border-radius: 20px;
    box-shadow: 5px 5px 112px 14px black;
    width: 70%;
    height: 90%;
    color: var(--text);
}

.info{
    background-color: #21212196;
    padding: 10px 20px;
    border: solid 1px var(--dark-purple);
    border-radius: 20px;
    box-shadow: inset 3px 3px 8px 4px black;
    max-height: 170px;
}
.addImageBtn{
    // min-width: 200px;
    width: 45%;
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 0, 0.502);
    transition: 1s;
}
.addImageBtn:hover{
    border-radius: 330px;
    background-color: var(--light-purple);
}
.item{
    width: 45%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.photos{
    max-height: 100%;
    overflow-y: scroll;
}
.photos::-webkit-scrollbar {
    display: none;
  }
@media only screen and (max-width: 900px) {
    .img{
        margin-top: 30px;
    }   
    .photos{
        max-height: 100%;
        overflow-y: hidden;
        padding-left: 10px;
        padding-top: 30px;
    }
    .page{
        width: 100%;
    }
  }
// .imgInput{
//     width: 230px;
//     height: 230px;
//     border: 3px solid var(--text);
//     border-radius: 20px;
// }