main{
    background-image: url("/assets/background1.jpg");
    background-size: 350px;
    height: 100vh;
    display: flex;
    align-items: center;
    color: var(--text);
}
.mountain{
    width: 100vw;
    position: absolute;
    bottom: 0px;
    z-index: 0;
}
.mountain1{
    width: 100vw;
    position: absolute;
    top: 0px;
    z-index: 0;
    transform: rotate(180deg);
}
.selectFalse{
    pointer-events: none;
    user-select: none;
}
.mainCon{
    background-color: #313131e2;
    max-width: 800px;
    border-radius: 20px 20px 20px 20px;
    border: 3px solid #f3e4c3;
    box-shadow: 0px 0px 100px 15px #323232;
    z-index: 1;
    align-items: center;
    justify-content: center;
    overflow:scroll; max-height: 98vh;
}
.mainCon::-webkit-scrollbar {
    display: none;
  }
.p-inputtext {
    color: #ffffff;
    background: #ffffff18;
    width: 100%;
}
.imgInput{
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--text);
    border-radius: 20px;
}
.img{
    width: 230px;
    height: 230px;
}
:host::ng-deep {
    .p-password,
    .p-inputtext {
      width: 100%;
      color: #ffffff;
    background: #ffffff18;
    }
}