<main>
    <img src="/assets/mountain.png" class="mountain selectFalse">
    <img src="/assets/mountain.png" class="mountain1 selectFalse">
    <div class="container text-center align-items-center pb-4 mainCon overflow-auto">
        <div class="row">
            <h1 class="mt-4 selectFalse">Create account!</h1>
        </div>
        <div class="row">
            <form [formGroup]="registerForm">
                <div class="container py-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="imgInput rounded-circle">
                                @if (!img) {
                                    <i class="pi pi-image" style="font-size: 2.5rem" (click)="fileInput.click()">
                                    </i>
                                }
                                @else {
                                    <img 
                                        class="rounded-circle img" 
                                        style="object-fit: cover;"
                                        [src]="img" 
                                        (click)="fileInput.click()">
                                }
                                <input type="file" 
                                        accept="image/png, image/jpeg, image/jpg"
                                        style="display:none;"
                                        #fileInput 
                                        (change)="onFileInput($event)"
                                        formControlName="image" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <span class="p-float-label mt-3">
                                <input 
                                    pInputText
                                    formControlName="username"/>
                                <label  
                                    style="color: #f3e4c3;" 
                                    class="selectFalse"
                                    >Username</label>
                            </span>
                            <span class="p-float-label mt-4">
                                <textarea
                                    rows="4" 
                                    pInputTextarea 
                                    style="resize: none;"
                                    formControlName="info"
                                    ></textarea>
                                <label style="color: #f3e4c3;" class="selectFalse">Info</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <span class="p-float-label mt-3">
                            <input pInputText formControlName="email" />
                            <label style="color: #f3e4c3;" class="selectFalse ms-2">Email</label>
                        </span>
                        <span class="p-float-label mt-4">
                            <p-password 
                                formControlName="password"
                                [feedback]="false"
                                ></p-password>
                            <label style="color: #f3e4c3;" class="selectFalse ms-2">Password</label>
                        </span>
                        <span class="p-float-label mt-4">
                            <p-password 
                                formControlName="confPassword"
                                [feedback]="false"
                                ></p-password>
                            <label style="color: #f3e4c3;" class="selectFalse ms-2">Confirm
                                password</label>
                        </span>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <button class="btn btn-success px-5 me-3" [routerLink]="['/login']">Back</button>
                            <button class="btn btn-outline-success px-5 ms-3" 
                                    routerLink='/register'
                                    (click)="onSubmit()">
                                Register</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>