<main>
    <img src="/assets/mountain.png" class="mountain selectFalse">
    <img src="/assets/mountain.png" class="mountain1 selectFalse">
    <div class="container text-center align-items-center pb-4 mainCon scroll">
        <div class="row">
            <h1 class="mt-4 selectFalse">Създай своя акаунт!</h1>
        </div>
        <div class="row">
            <form [formGroup]="registerForm">
                <div class="container py-3">
                    <div class="row">
                        <div class="col-12 col-md-4 justify-content-center d-flex">
                            <div class="imgInput rounded-circle">
                                @if (!img) {
                                    <i class="pi pi-image" style="font-size: 2.5rem" (click)="fileInput.click()">
                                    </i>
                                }
                                @else {
                                    <img 
                                        class="rounded-circle img" 
                                        style="object-fit: cover;"
                                        [src]="img" 
                                        (click)="fileInput.click()">
                                }
                                <input type="file" 
                                        accept="image/png, image/jpeg, image/jpg"
                                        style="display:none;"
                                        #fileInput 
                                        (change)="onFileInput($event)"
                                        formControlName="image" 
                                        />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <span class="p-float-label mt-5">
                                <input 
                                    pInputText
                                    formControlName="username"
                                    [ngClass]="{
                                        'ng-touched ng-dirty':registerForm.get('username')!.invalid &&
                                        (registerForm.get('username')!.dirty || 
                                        registerForm.get('username')!.touched)}"/>
                                <label  
                                    style="color: #f3e4c3;" 
                                    class="selectFalse"
                                    >Потребителско име</label>
                            </span>
                            <app-form-errors
                                class="d-flex justify-content-end"
                                [control]="registerForm.get('username')!"
                                [controlName]="'Потребителско име'"
                                [max]="30"
                                [min]="3"
                                    ></app-form-errors>
                            <span class="p-float-label mt-4">
                                <input 
                                    pInputText 
                                    formControlName="email"
                                    [ngClass]="{
                                        'ng-touched ng-dirty':registerForm.get('email')!.invalid &&
                                        (registerForm.get('email')!.dirty || 
                                        registerForm.get('email')!.touched)}"
                                     />
                                <label style="color: #f3e4c3;" class="selectFalse ms-2">Имейл</label>
                            </span>
                            <app-form-errors
                                class="d-flex justify-content-end"
                                [control]="registerForm.get('email')!"
                                [controlName]="'Имейл'"
                                    ></app-form-errors>
                        </div>
                    </div>
                    <div class="row">
                        <span class="p-float-label mt-4">
                            <p-password 
                                formControlName="password"
                                [feedback]="false"
                                [ngClass]="{
                                    'ng-touched ng-dirty':registerForm.get('password')!.invalid &&
                                    (registerForm.get('password')!.dirty || 
                                    registerForm.get('password')!.touched)}"
                                ></p-password>
                            <label style="color: #f3e4c3;" class="selectFalse ms-2">Парола</label>
                        </span>
                        <app-form-errors
                                class="d-flex justify-content-end"
                                [control]="registerForm.get('password')!"
                                [controlName]="'Парола'"
                                [min]="8"
                                    ></app-form-errors>
                        <span class="p-float-label mt-4">
                            <p-password 
                                formControlName="confPassword"
                                [feedback]="false"
                                [ngClass]="{
                                    'ng-touched ng-dirty':registerForm.get('confPassword')!.invalid &&
                                    (registerForm.get('confPassword')!.dirty || 
                                    registerForm.get('confPassword')!.touched)}"
                                ></p-password>
                            <label style="color: #f3e4c3;" class="selectFalse ms-2">Потвърди парола</label>
                        </span>
                        <app-form-errors
                                class="d-flex justify-content-end"
                                [control]="registerForm.get('confPassword')!"
                                [controlName]="'потвърди парола'"
                                [min]="8"
                                    ></app-form-errors>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <button class="btn btn-outline-success px-5 me-3" [routerLink]="['/log-in']">Вход</button>
                            <button class="btn btn-success px-5 ms-3" 
                                    routerLink='/register'
                                    (click)="onSubmit()"
                                    [disabled]="registerForm.invalid ? true : null">
                                Регистрирай се</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>