<main class="d-flex justify-content-center align-items-center">
    <div class="page scroll py-5 px-5">
        <div class="d-flex justify-content-strat align-items-center gap-4 p-3 h-50 style userInfo">
            @if (user$ | async; as user) {
                <img [src]="user.photo.includes('data:image') ? user.photo : '../../assets/profile.png'"
                 class="photo rounded-circle">
                <div class="username">
                    <h2>{{user.username}}</h2>
                    <button class="btn btn-outline-danger "(click)="logout()">Изход</button>
                </div>
            }
        </div>
        <div class=" h-100 p-5 mt-5 style userUpdate">
            <h3><b>Смяна на: </b></h3>
            <hr>
            <div class="d-flex flex-wrap gap-3">
                <button class="btn btn-success" (click)="usernameDialog = true">Потребителско име</button>
                <button class="btn btn-success" (click)="photoDialog = true">Профилна снимка</button>
                <button class="btn btn-outline-success" (click)="passwordDialog = true">Парола</button>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center h-25 my-5 ps-5 style border border-danger userDelete">
            <div>
                <h3 class="text-danger"><b>Истриване на профил</b></h3>
                <button class="btn btn-danger mt-2"(click)="deleteDialog = true">Delete</button>
            </div>
        </div>
    </div>
</main>
<p-dialog 
    [modal]="true"
    (onHide)="clearAll()"
    header="Смяна на паролата" 
    [(visible)]="passwordDialog" 
    [breakpoints]="{ '960px': '75vw' }" 
    [style]="{ width: '40vw' }" 
    [draggable]="false">
        <div class="d-flex flex-wrap justify-content-center gap-3 align-items-center">
            <span class="p-float-label mt-4">
                <input pInputText [(ngModel)]="password.oldPassword"/>
                <label>Сегашна парола</label>
            </span>
            <span class="p-float-label mt-4">
                <input pInputText [(ngModel)]="password.newPassword"/>
                <label>Нова парола</label>
            </span>
        </div>
        <ng-template pTemplate="footer">
            <button class="btn btn-outline-success" (click)=" changePassword();passwordDialog = false">Потвърди</button>
        </ng-template>
</p-dialog>

<p-dialog 
    [modal]="true"
    (onHide)="clearAll()"
    header="Смяна на потребителското име" 
    [(visible)]="usernameDialog" 
    [breakpoints]="{ '960px': '75vw' }" 
    [style]="{ width: '40vw' }" 
    [draggable]="false">
        <div class="d-flex flex-wrap justify-content-center gap-3 align-items-center">
            <span class="p-float-label mt-4">
                <input pInputText  [(ngModel)]="username"/>
                <label>Потребителско име</label>
            </span>
        </div>
        <ng-template pTemplate="footer">
            <button class="btn btn-outline-success" (click)="changeUsername(); usernameDialog = false">Потвърди</button>
        </ng-template>
</p-dialog>

<p-dialog 
    [modal]="true"
    (onHide)="clearAll()"
    header="Изтрий акаунт" 
    class="text-danger"
    [(visible)]="deleteDialog" 
    [breakpoints]="{ '960px': '75vw' }" 
    [style]="{ width: '40vw' }" 
    [draggable]="false">
        <h5 class="text-danger">Това действие ще доведе до пълното изтриване на вашият профил и снимки!</h5>
        <div class="d-flex justify-content-center">
            <span class="p-float-label mt-3">
                <p-password [feedback]="false"
                            [toggleMask]="true"
                            [(ngModel)]="delete"
                               ></p-password>
                <label style="color: #b08686;" class="selectFalse">Парола</label>
            </span>
        </div>
        <ng-template pTemplate="footer">
            <button class="btn btn-outline-danger" (click)="deleteUser();deleteDialog = false">Изтрий акаунт</button>
        </ng-template>
</p-dialog>

<p-dialog 
    (onHide)="clearAll()"
    header="Смяна на снимка" 
    [(visible)]="photoDialog" 
    [breakpoints]="{ '960px': '75vw' }" 
    [style]="{ width: '40vw' }" 
    [draggable]="false">
        <div class="d-flex justify-content-center align-items-center flex-wrap">
            <div class="imgInput rounded-circle">
            @if (!image) {
                <i class="pi pi-image" style="font-size: 2.5rem" (click)="fileInput.click()"></i>
            }
            @else {
                <img 
                    class="rounded-circle imgInput" 
                    style="object-fit: cover;"
                    [src]="image" 
                    (click)="fileInput.click()">
            }
                <input type="file" 
                    accept="image/png, image/jpeg, image/jpg"
                    style="display:none;"
                    #fileInput 
                    (change)="onFileInput($event)"
                    />
            </div>
            <h4 class="ms-3">Избери нова снимка</h4>
        </div>
        <ng-template pTemplate="footer">
            <button class="btn btn-outline-success" (click)=" changePhoto();photoDialog = false">Потвърди</button>
        </ng-template>
</p-dialog>