<div class="content">
    <main class="scroll">
      <div class="list scroll mt-4">
        <div class="d-flex sticky-top justify-content-center align-items-center py-3 searchBy">
          <p-toggleButton 
            [(ngModel)]="checked" 
            class="ps-3"
            [onLabel]="'Последователи ('+followers.length+')'" 
            [offLabel]="'Последвани ('+following.length+')'"
            [onIcon]="'pi pi-users'" 
            offIcon="pi pi-users" 
            [style]="{ width: '14em' }" 
            (click)="changeState()"></p-toggleButton>
        </div>
        <div class="px-2">
          @if(checked ? followers.length : following.length > 0){
            @for (item of checked ? followers : following; track item) {
            <div class="d-flex justify-content-between align-items-center mt-3 userElement px-2 py-2">
              <div class="d-flex justify-content-start align-items-center">
                <img
                  class="rounded-circle img" 
                  style="object-fit: cover;"
                  [src]="item.profilePhoto.includes('data:image') ? item.profilePhoto : '../../assets/profile.png'"
                  >
                <h1 class="ms-3">{{item.username}}</h1>
              </div>
              <button class="btn btn-outline-success" (click)="openUser(item.username)">Посети</button>
            </div>
            }
          } @else if(followers.length == 0) {
            <div class="d-flex justify-content-center align-items-center mt-3 userElement px-2 py-2">
                <h1 class="ms-3 text-danger ">Няма потребители !</h1>
            </div>
          }
        </div>
      </div>
    </main>
  </div>