<div class="content">
    <div class="page d-flex scroll">
        <div class="left-and-right d-flex flex-column align-items-center justify-content-center">
            @if(photo$ | async; as photo){
                <div class="imageDiv">
                    <div class="card">
                        <img class="image" [src]="photo.base64String">
                        @if(photo.info){
                            <div class="card__content">
                                <p class="card__title">Информация</p>
                                <p  class="card__description">
                                    {{photo.info}}
                                </p>
                            </div>
                        }
                    </div>
                </div>
                <div class="userInfo mt-3">
                    <div class="d-flex gap-5 justify-content-between align-items-center">
                        <div class="ms-3 d-flex align-items-center">
                            <img 
                            class="profileImage rounded-circle"
                            style="object-fit: cover;" 
                            [src]="photo.profilePhoto">
                            <h2 class="ms-2">{{photo.username}}</h2>
                        </div>
                        <button class="btn btn-outline-success">Like</button>
                    </div>
                </div>
            }
            @else {
                <div class="imageDiv">
                    <p-skeleton size="100%" styleClass="mb-2" borderRadius="10px"></p-skeleton>
                </div>
                <div class="userInfo mt-3">
                    <div class="d-flex gap-5">
                        <div class="ms-3 d-flex">
                            <p-skeleton shape="circle" size="4rem" styleClass="me-2"></p-skeleton>
                            <div>
                                <p-skeleton width="10rem" styleClass="my-2"></p-skeleton>
                                <p-skeleton width="5rem"></p-skeleton>
                            </div>
                        </div>
                        <p-skeleton width="4rem" height="2rem" styleClass="mt-3"></p-skeleton>
                    </div>
                </div>
            }
        </div>
        <div class="left-and-right d-flex flex-column align-items-center justify-content-center">
            @if(photo$ | async; as photo){
                <div class="map">
                    <app-map [lat]="photo.lat" [lng]="photo.lng" [canTouch]="false" [canSeeMarker]="true"></app-map>
                </div>
                <div class="categories d-flex gap-2 flex-column align-items-center justify-content-center position-relative">
                    <div class="d-flex flex-wrap gap-2 mb-4 ms-1 scroll">
                    @if(photo.categories != 0){
                            @for (item of photo.categories; track $index) {
                                <p-chip [label]="item.name"
                                        class="chip"
                                        ></p-chip>
                            }
                    }
                    </div>
                </div>
            }
            @else {
                <div class="map">
                    <p-skeleton width="100%" height="100%" styleClass="mb-2" borderRadius="10px"></p-skeleton>
                </div>
                <div class="categories">
                    <p-skeleton width="100%" height="100%" styleClass="mb-2" borderRadius="10px"></p-skeleton>
                </div>
            }
        </div>
    </div>
</div>