.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/backgrounds/fireplace2.jpg');
    background-position: center;
    background-size: cover;
}

.page {
    background-color: #212121d4;
    border: 2px solid var(--dark-purple);
    border-radius: 20px;
    box-shadow: 5px 5px 112px 14px black;
    min-width: 70%;
    height: 90%;
    color: var(--text);
}

.left-and-right {
    width: 50%;
    height: 100%;
}

.map{
    width: 90%;
    height: 50%;
    box-shadow: 10px 12px 100px 0px black;
    z-index: 3;
}
.imageDiv{
    width: 80%;
    height: 70%;
}
.categories{
    width: 60%;
    height: 30%;
    background-color: rgb(169, 169, 169);
    border-radius: 0px 0px 20px 20px;
}
.userInfo{
    width: 80%;
    height: 10%;
}

@media only screen and (max-width: 1200px) {
    .page {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}