<div class="content">
     <div class="gallery">
        <p-galleria 
            [value]='images' 
            [autoPlay]="true"
            [circular]="true"
            [indicatorsPosition]="'bottom'" 
            [showItemNavigators]="true"
            [showThumbnails]="false">
            <ng-template pTemplate="item" let-item>
                <img [src]="item" class="images"/>
                <div class="text position-absolute d-flex align-items-center justify-content-center">
                    <div class="bg-dark px-5 py-3 rounded bg-opacity-75">
                        <h1>Добре дошли във <span style="color: var(--light-green);">FirePlace</span></h1>
                    </div>
                </div>
            </ng-template>
        </p-galleria>
    </div> 
</div>