<div class="content">
    <div class="gallery">
        <p-galleria 
            [value]='images' 
            [autoPlay]="true"
            [circular]="true"
            [indicatorsPosition]="'bottom'" 
            [showItemNavigators]="true"
            [showThumbnails]="false">
            <ng-template pTemplate="item" let-item>
                <img [src]="item" class="images"/>
                <div class="text position-absolute d-flex align-items-center justify-content-center">
                    <div class="bg-dark px-5 py-3 rounded bg-opacity-75">
                        <h1>Welcome to <span style="color: var(--light-green);">FirePlace</span></h1>
                    </div>
                </div>
            </ng-template>
        </p-galleria>
    </div>
    <main class="">
        <div class="d-flex position-relative">
                <div class="over" [@showOnScroll]="move"></div>
            <div class="test1">
                <div>
                    <img #test [@showOnScroll]="shown" src="../../assets/asd.png" style="height: 300px;">
                </div>
            </div>
            <div class="test">
                <h1>paosjd[apkd</h1><br>
                <h1>paosjd[apkd</h1><br>
                <h1>paosjd[apkd</h1><br>
                <h1>paosjd[apkd</h1><br>
            </div>
        </div>
        <div class="d-flex">
            <div class="test">
                <h1>paosjd[apkd</h1><br>
                <h1>paosjd[apkd</h1><br>
                <h1>paosjd[apkd</h1><br>
                <h1>paosjd[apkd</h1><br>
            </div>
            <div class="test2">
                <h1>paosjd[apkd</h1><br>
                <h1>paosjd[apkd</h1><br>
                <h1>paosjd[apkd</h1><br>
                <h1>paosjd[apkd</h1><br>
            </div>
        </div>
    </main>
</div>