@if(!control.valid && (control.dirty || control.touched)){
    <div class="text-danger text-end">
        @if(control.errors?.['required']){
            <span>Въведете {{controlName}}!</span><br>
        }
        @if(control.errors?.['pattern']){
            <span>Полето {{controlName}} трябва да съдържа: главна буква, малка буква, число и специален символ!</span><br>
        }
        @if(control.errors?.['maxlength']){
            <span>Полето {{controlName}} трябва да съдържа максимом {{max}} символа!</span>
        }
        @if(control.errors?.['minlength']){
            <span>Полето {{controlName}} трябва да съдържа минимум {{min}} символа!</span><br>
        }
        @if(control.errors?.['email']){
            <span>Полето {{controlName}} не е в правилен формат!</span>
        }
        @if(control.errors?.['notmatched']){
            <span>Полето {{controlName}} трябва да е еднакво с Парола!</span>
        }
    </div>
}