<main>
    <img src="/assets/mountain.png" class="mountain selectFalse">
    <img src="/assets/mountain.png" class="mountain1 selectFalse">
    <div class="container text-center align-items-center pb-5">
        <div class="row">
            <h1 class="mt-5 selectFalse">Welcome to FirePlace</h1>
        </div>
        <div class="row">
            <form [formGroup]="loginForm">
                <span class="p-float-label mt-5">
                    <input pInputText 
                           id="username"
                           formControlName="username"
                           />
                    <label for="username" style="color: #f3e4c3;" class="selectFalse">Username</label>
                </span>
                <span class="p-float-label mt-5">
                    <input pInputText 
                           id="password" 
                           type="password" 
                           formControlName="password"
                           />
                    <label for="password" style="color: #f3e4c3;" class="selectFalse">Password</label>
                </span>
                <div class="d-flex justify-content-center align-items-center mt-5">
                    <button class="btn btn-success px-5 me-3" (click)="onSubmit()">Log in</button>
                    <button class="btn btn-outline-success px-5 ms-3" routerLink='/register'  >
                        <a [routerLink]="['/register']" routerLinkActive="router-link-active" ></a>
                        Create an account</button>
                </div>
            </form>
        </div>
    </div>
</main>