<div class="content d-flex justify-content-between align-items-center p-4">
    <h1 [routerLink]="['/welcome']">FirePlace</h1>
    @if(!isLogged){
    <div>
        <button class="btn btn-outline-success" [routerLink]="['/log-in']"> Log in</button>
        <button class="btn btn-success ms-3" [routerLink]="['/register']"> Sigh up</button>
    </div>
    } @else {
        @if(showMenuBtn){
            <div class="header">
                <nav class="navbar">
                    <ul class="navbar__menu">
                        <li class="navbar__item">
                            <a href="#" class="navbar__link" [routerLink]="['/home']" routerLinkActive="asd">
                                <i class="pi pi-home" style="font-size: 1.5rem"></i>
                                <span>Начало</span>
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="#" class="navbar__link" [routerLink]="['/welcome']" routerLinkActive="asd">
                                <i class="pi pi-user" style="font-size: 1rem"></i>
                                <span>Моя профил</span>
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="#" class="navbar__link" [routerLink]="['add-photo']" routerLinkActive="asd">
                                <i class="pi pi-user" style="font-size: 1rem"></i>
                                <span>Моя профил</span>
                            </a>
                        </li>
                        <li class="navbar__item">
                            <a href="#" class="navbar__link" [routerLink]="['/profile']" routerLinkActive="asd">
                                <i class="pi pi-user" style="font-size: 1.5rem"></i>
                                <span>Моя профил</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        }
    }
</div>