/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
* {
  font-family: 'Rubik', sans-serif;
  user-select: none;
}

body{
  --dark: #323232;
  --dark-green: #096c47;
  --light-green: #0b8457;
  --text: #f3e4c3;
}
input{
  box-shadow: none;
}